.main {
  flex: 1;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 16px 16px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 60px;
  text-align: center;
}

.description {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-bottom: 16px;
}

.link {
  background-color:palegreen;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.link:hover, .link:focus {
  background-color: black;
  color: palegreen;
}